@font-face {
    font-family: lobster;
    src: url(Lobster-Regular.ttf);
}
@font-face {
    font-family: poppins;
    src: url(Poppins-SemiBold.ttf);
}
#title{
    max-width: 90vw;
    margin: auto;
    margin-top: 25px;
    text-align: center;
    font-family:lobster;
    color:#2069e0;
    font-size: 60px;
    -webkit-border-radius: 50px; 
    border-radius: 50px; 
    background: #141414;
    -webkit-box-shadow: 9px 9px 18px #080808,
                        -9px -9px 18px #202020;
    box-shadow: 9px 9px 18px #080808,
                -9px -9px 18px #202020;
}
h3{
    text-align: center;
    color: #2069e0;
    font-size: calc(1em + 1vw);
    font-family: lobster;
}
#meme-box{
    -webkit-border-radius: 50px; 
    border-radius: 50px; 
    background: #141414;
    -webkit-box-shadow: 9px 9px 18px #080808,
                        -9px -9px 18px #202020;
    box-shadow: 9px 9px 18px #080808,
                -9px -9px 18px #202020;
    width: 85vw;
    margin: auto;
    padding: 30px;
    font-weight: 500;
    font-family: serif;
    display: flex;
    font-size: calc(1em + 1vw)
}
.meme{
    border-radius: 20px;
    flex-grow: 1;
    margin: auto;
    max-width: 100%;
    position: relative;
}
img{
    max-width: 100%; 
    max-height: 100%;
    border-radius: 15px;
}

.meme-caption{
    position: relative;
    margin-left: 20px;
    flex-grow: 1;
    display: flex;
    max-width: 55%;
    flex-flow: column wrap;
    align-items:flex-start;
    justify-content: center;
}


@media only screen and (max-width: 1200px){
    #meme-box{
        flex-flow: column wrap;
        width: 90vw;
    }
    .meme-caption{
        max-width: 100%;
        margin: auto;
    }
    .warning{
        min-width: 90vw;
    }
}
body{
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    color: #e7d8d8;
}
.btn-1 {
    font: calc(1em + 1vw) poppins;
    margin: 40px auto;
    padding: 20px 30px;
    cursor: pointer;
    display:block;
    border: none;
    color: #2069e0;
    border-radius: 50px; 
    background: #141414;
    transition-duration: 300ms;
    -webkit-box-shadow: 9px 9px 18px #080808,
                        -9px -9px 18px #202020;
    box-shadow: 9px 9px 18px #080808,
                -9px -9px 18px #202020;
}
button.btn-1:hover{
    -webkit-box-shadow: 3px 3px 10px #080808,
    -3px -3px 10px #202020;
    box-shadow: 3px 3px 10px #080808,
    -3px -3px 10px #202020;
}
button.btn-1:active{
    box-shadow: inset 16px 16px 22px #0c0c0c,
            inset -16px -16px 22px #1c1c1c;
}
a{
    text-decoration: none;
}
a:visited{
    color: #a0c41f; 
}
ul{
    font-size: calc(.5em + 1vw)
}
h1.why{
    background-color: #2069e0;
    padding: 20px;
    font-family: serif;
    font-size: calc(1.5em + 1vw);
    max-width: 90vw;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow:  17px 17px 34px #070707,
    -17px -17px 34px #151515;
}
.underline{
    padding-bottom: 2px;
    border-bottom: 3px dashed #c91560;
}
.warning{
    width: 60vw;
    border-radius: 20px;
    padding: 20px;
    margin: 30px auto;
    font-size: calc(.5em + 1vw);
    font-family: poppins;
    background:rgb(255, 169, 10);
}
.full{
    padding: 10px;
    font-family: lobster;
    font-size: calc(1em + 1vw);
    width: 80vw;
    margin:20px auto;
    border: 3px dashed #c91560;
}
ol{
    font: calc(.5em + 1vw) sans;
}
